.input-search {
  display: flex;
  justify-content: center;
  padding-left: 55px;
}

.input-search input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 10px;
  margin: 10px 0;
}

.input-search input:focus {
  outline: none;
}

.input-search button {
  display: flex;
  align-items: center;
  height: 40px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 30%;
  /* border : 1px solid #ccc;
    background-color : #ccc; */
  padding: 10px;
  margin: 10px 0;
  margin-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .input-search {
    padding-left: 30px;
  }
}

@media screen and (max-width: 400px) {
  .input-search  {
    padding-left: 0px;
  }
  .input-search input {
    width: 200px;

}
}