
 .cocktail-detail {
    
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    
 }

 .detail-left {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    flex: 1;
 }
 .cocktail-detail img{
    width: 500px;
    height: 600px;
   

 }
 .detail-right {
    flex: 1;
 }

    .detail-right h1{
        font-size: 5rem;
        margin-bottom: 5rem;
        margin-left: -80px;
        /* text-shadow: 
        5px 5px 5px #000000 ; */
        color:#ff8b8b;
        
    }

    .line {
        width: 40%;
        height: 3px;
        margin-left: 50px;
        background-color: #ff8b8b;;
        margin-bottom: 5rem;
    }

    .detail-right p {
        font-size: 1.5rem;
        margin-left: 50px;
       
        width: 400px;
    }

    .ingre{
      font-style: italic;
    }

    @media screen and (max-width: 1150px) {
      .cocktail-detail img{
         width: 350px;
         height: 400px;
        
      }     

      .detail-right h1{
         font-size: 4rem;

         
     }

     .detail-right p {
      font-size: 1.4rem;
      margin-left: 20px;

  }
    }

    
    @media screen and (max-width: 850px) {

      .cocktail-detail{
         flex-direction: column;
         align-items: center;
         margin-top: 50px;
      }

      .detail-left{
         display: flex;
         margin-right: 0;
         justify-content: center;
      }

      .cocktail-detail img{
         width: 350px;
         height: 400px;
        
      }     

      .detail-right h1{
         font-size: 3rem;
         margin-left: 10px;
         margin-bottom: 40px;

         
     }

     .detail-right p {
      font-size: 1.2rem;
      margin-left: 40px;
      width: 300px;

  }
    }

    @media screen and (max-width: 430px) {


      .detail-right h1{
         font-size: 2.8rem;
       
      }



    }