.container-home {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  height: 95vh;
  width: 100%;
}

.left-home {
  /* flex: 1; */
  padding: 50px;
  /* padding-left: 300px; */
  padding-left: 10%;
  /* background-color: aliceblue; */
  width: 900px;
}

.left-home h1 {
  /* font-size: 68px; */
  font-size: 80px;
  font-weight: bold;
  color:#ff8b8b;
  padding-top: 100px;
}

.left-home p {
  /* font-size: 30px; */
  font-size: 45px;
  color: #676767;
  margin-top: 80px;

  /* width: 600px; */
}

.links-home {
  display: flex;
  margin-top: 50px;
}

.lnk {
  color:#ff8b8b;
  font-size: 25px;
  margin-right: 50px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.lnk::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff8b8b;
  transition: width 0.3s ease-out;
}

.lnk:hover::before {
  width: 100%;
}

.container-home img {
  position: absolute;
  width: 500px;
  top: 100px;
  /* right: 350px; */
  right: 10%;
  /* left: 900px; */

  rotate: 10deg;
  z-index: -1;
}

@media screen and (max-width: 1730px) {
  .left-home {
    padding-left: 10%;
    width: 800px;
  }
  .left-home h1 {
    font-size: 70px;
  }

  .left-home p {
    font-size: 40px;
  }

  .container-home img {
    top: 110px;
    right: 10%;
  }
}

@media screen and (max-width: 1250px) {
  .container-home img {
    /* opacity: 0.8; */
  }
}

@media screen and (max-width: 800px) {
  .left-home h1 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .left-home {
    padding: 0px 30px 0px 30px;
  }

  .left-home h1 {
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    font-size: 40px;
  }

  .left-home p {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    /* margin-top: 400px; */
  }

  .links-home {
    justify-content: space-around;
    margin-top: 400px;
  }

  .lnk {
    text-align: center;
    margin: 10px;

  }

  .lnk1 {
    margin-right: 0px;
  }

  .lnk2 {
    margin-right: 0px;
  }

  .container-home img {
    width: 300px;
    /* top: 50px; */
    top: 250px;
  }
}
