@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

body {
  margin: 0;
  font-family: 'Figtree', sans-serif;

  background-color: rgb(255, 240, 240);

  /* background: rgb(255,255,255);
  background: linear-gradient(124deg, rgba(255,255,255,1) 38%, rgba(255,0,0,1) 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
